<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
    </head>
    <p id="demo_id"></p>
	<body>               
        <!-- <table id="line_table"> -->
        <div id="line_table"> </div>
        <script>
            function tryParseJSON (jsonString){
                try {
                    var o = JSON.parse(jsonString);

                    if (o && typeof o === "object") {
                        return o;
                    }
                }
                catch (e) { }
                return null;
            }

            function htmlDecode(input) {
                var doc = new DOMParser().parseFromString(input, "text/html");
                return doc.documentElement.textContent;
            }

            var message = htmlDecode("{{msg}}");
            var objs = tryParseJSON(message);

            for (idx in objs) {
                var lineName = objs[idx]["id"];
                document.getElementById("line_table").appendChild(createLineCol(lineName));
            }

            function createLineCol(lineName){
                // Create column
                var div = document.createElement("div");
                var hcol = document.createElement("h1");
                hcol.textContent = objs[idx]["id"]
                    
                div.className = "line_control";
                div.appendChild(hcol);
                div.appendChild(createAction(lineName, "RESET"));
                div.appendChild(createAction(lineName, "START"));
                div.appendChild(createAction(lineName, "STOP"));
                div.appendChild(createAction(lineName, "HOLD"));
                div.appendChild(createAction(lineName, "UNHOLD"));
                div.appendChild(createAction(lineName, "COMPLETE"));
                div.appendChild(createAction(lineName, "ABORT"));
                return div;
            }

            function createAction(lineName, action){
                var formClear = document.createElement("form");
                formClear.action = lineName + "/command/" + action.toLowerCase();
                formClear.method = "get";

                var input = document.createElement("input");
                input.type = "submit";
                input.value = action;
                formClear.appendChild(input);
                return formClear;
            }
        </script>
	</body>
</html>